.container{

    background-color:#00000014 ;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
}
    

.search{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem;

}  
